section.all-tasks-container {
  text-align: center;
  margin-top: 0.2rem;
}

ul.task-wrap {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  color: #fff;
  text-align: left;
  margin: auto;
  padding: 1rem;
}

li.one-task-container {
  position: relative;
  background-color: #1e1c0c;
  padding: 2rem;
  margin: 5px;
  border-radius: 15px;
}

.buttons-crud-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 40px;
  padding: 1rem;
  border: 2px #1e1c0c solid;
  border-radius: 10px;
  background-color: #c3fcf1;
}

button.edit-task-button,
button.delete-task-button {
  border-style: none;
  background-color: transparent;
}

button.edit-task-button:hover,
button.delete-task-button:hover {
  cursor: pointer;
}

.title-task {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.place-task {
  font-weight: lighter;
  display: flex;
  align-items: center;
}

.created-time-task {
  position: absolute;
  right: 0;
  margin: 15px 40px;
  font-weight: lighter;
  font-size: 12px;
}

.icon-task {
  margin: 5px 15px;
}

.checkbox-task {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-30%, 250%);
  display: flex;
  align-items: center;
}

div.checkbox-task input {
  margin: 0 10px;
}

@media only screen and (max-width: 800px) {
  ul.task-wrap {
    width: 90%;
    padding: 0;
    margin: 1px auto;
  }
  li.one-task-container {
    width: 80%;
    margin: auto;
    padding: 0.5rem;
  }
  .title-task {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .created-time-task {
    position: relative;
    margin: 0;
    font-weight: lighter;
    font-size: 12px;
  }
  .checkbox-task {
    position: relative;
    margin: 0;
    display: inline-block;
  }

  .buttons-crud-container {
    margin-top: 80px;
    padding: 0.1rem;
    border-radius: 5px;
  }
}
