.valid-info {
  display: none;
}

.valid-info.active {
  display: inline-block;
  color: #fff;
  background-color: #93d051;
  border-radius: 5px;
}

.settings-container {
  position: absolute;
  text-align: center;
  width: 30%;
  height: 100%;
  background-color: #1e1c0c;
  box-shadow: -25px 10px 44px -19px rgba(0, 0, 0, 0.6);
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  z-index: 1;
}

.settings-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

div h1.settings-general-title {
  background-color: #1e1c0c;
  color: #fde030;
  text-align: center;
  padding: 2rem;
  border-bottom: 3px #fff solid;
  text-transform: uppercase;
  font-size: 35px;
}

div.settings-section-container {
  padding: 2rem;
}

div h2.settings-section-title {
  font-size: 30px;
}

div section.settings-wrap {
  background-color: #fde030;
  padding: 3rem;
}

section hr.line-settings {
  display: inline-block;
  margin: 5px auto;
  border-top: 1px solid #1e1c0c;
  border-bottom: 1px solid #1e1c0c;
  border-radius: 5px;
  width: 2rem;
}

form.user-and-list-names-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.5rem;
}

div.user-and-list-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

label.info-txt {
  margin: 10px 0;
}

input.info {
  font-size: 18px;
  padding: 1rem;
  margin: 0 5px;
  font-weight: lighter;
  height: 20px;
  width: 50%;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

button.button-edit {
  color: #fff;
  background: #1e1c0c;
  color: #fde030;
  padding: 8px;
  border-radius: 5px;
  border: none;
  font: inherit;
  cursor: pointer;
}

.info em {
  font-weight: bolder;
}

.button-back-home {
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #1e1c0c;
  color: #fde030;
  font-weight: bolder;
}

.button-back-home:hover {
  cursor: pointer;
  background-color: #fff;
  color: #1e1c0c;
}
