button.add-task-text-container {
  background-color: #114845;
  color: #fff;
  border-style: none;
  font-size: 0.6rem;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

button.add-task-text-container:hover {
  cursor: pointer;
  background-color: #fff;
  color: #114845;
}
