section button.add-task-button {
  display: inline-block;
  text-align: center;
  border-style: none;
  border-radius: 50%;
  background-color: transparent;
  color: #1e1c0c;
  font-size: 3rem;
  display: inline-block;
  margin: 5px;
}

.add-task-button.inactive {
  display: none;
}

section button.add-task-button:hover {
  cursor: pointer;
  color: #c3fcf1;
}
