section button.add-task-container {
  text-align: center;
  border-style: none;
  border-radius: 50%;
  background-color: aliceblue;
  color: #1e1c0c;
  font-size: 3rem;
  background-color: Transparent;
  display: inline-block;
  margin: 1rem;
}

section button.add-task-container:hover {
  cursor: pointer;
  color: #fde030;
}
