ul.calendar-days-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

ul button.arrow-calendar-left,
ul button.arrow-calendar-right {
  color: #114845;
  background-color: #fff;
  font-size: 60px;
  border-radius: 50%;
  border: none;
}

ul button.arrow-calendar-left:hover,
ul button.arrow-calendar-right:hover {
  cursor: pointer;
  color: #65ffc3;
}

ul.calendar-days-container li#day-wrap {
  background-color: #65ffc3;
  color: #114845;
  border-radius: 2rem;
  padding: 3rem;
  width: 20%;
  font-size: 30px;
  opacity: 0.5;
}

ul.calendar-days-container main.current-day-container {
  background-color: #114845;
  color: #65ffc3;
  border-radius: 2rem;
  padding: 3rem;
  width: 20%;
  font-size: 30px;
}

h4.number-calendar-text {
  font-size: 120px;
  font-family: Arial, Helvetica, sans-serif;
}

main hr.line-current-day {
  border: #65ffc3 3px solid;
  border-radius: 5px;
  width: 45%;
  margin: auto;
}
