header.navbar-container {
  background-color: #fde030;
  color: #1e1c0c;
  text-align: center;
  padding: 2.5rem;
  line-height: 32px;
}

header nav.navbar-buttons-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 20px;
  color: #1e1c0c;
  text-decoration: none !important;
}

#link {
  color: #1e1c0c;
  text-decoration: none;
}

.config-button.inactive,
.language-button.inactive {
  display: none;
}

.close-button {
  margin: 0 0.5rem;
  display: none;
}

.close-button.active {
  display: inline-block;
}

header nav .back-button:hover,
header nav .config-button:hover,
header nav .close-button:hover,
header nav .dark-mode-button:hover {
  cursor: pointer;
}

header nav .back-button,
header nav .config-button,
header nav .close-button,
header nav .dark-mode-button {
  margin: 0 8px;
}

header section h3.navbar-welcome-text {
  font-weight: lighter;
}

header section h1.navbar-time {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

header section h2.navbar-date-year {
  padding: 0.2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
