header.navbar-container {
  background-color: #fde030;
  color: #1e1c0c;
  text-align: center;
  padding: 2.5rem;
  line-height: 32px;
}

header nav.navbar-buttons-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 20px;
  color: #1e1c0c;
  text-decoration: none !important;
}

ul.buttons-edit {
  display: flex;
  flex-wrap: nowrap;
}

ul.buttons-edit li {
  margin: 1px;
  padding: 0 2px;
}

#link {
  color: #1e1c0c;
  text-decoration: none;
}

.faTimes {
  transform: rotate(90deg);
  background-color: #1e1c0c;
  color: #fde030;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
}

header nav .back-button:hover,
header nav .config-button:hover,
header nav .language-button:hover,
header nav .light-mode-button:hover {
  cursor: pointer;
}

header nav .back-button,
header nav .config-button,
header nav .language-button,
header nav .light-mode-button {
  margin: 0 8px;
}

header section h3.navbar-welcome-text {
  font-weight: lighter;
}

.user-name {
  font-weight: lighter;
  text-transform: capitalize;
}

header section h1.navbar-time {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

header section h2.navbar-date-year {
  padding: 0.2rem;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
