ul.navbar-tasks-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-self: center;
  background-color: #114845;
  color: #65ffc3;
  padding: 1rem;
}

ul il.navbar-tasks-options:hover,
ul il.star-tasks-calendar-days:hover {
  cursor: pointer;
  color: #fff;
}

ul il.star {
  font-size: 30px;
}
