main.landing-page-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #c3fcf1;
  color: #1e1c0c;
  height: auto;
  width: 100%;
  text-align: center;
}

section.title-subtitle-container {
  padding: 2rem;
}

h1.app-title {
  font-size: 50px;
}

h3.app-subtitle {
  line-height: 5px;
  font-weight: lighter;
}

hr.line {
  display: inline-block;
  margin: 15px auto;
  border-top: 3px solid #1e1c0c;
  border-bottom: 3px solid #1e1c0c;
  border-radius: 5px;
  width: 5rem;
}

section.introduction-container {
  padding: 10% 30%;
  font-size: 22px;
}
@media only screen and (max-width: 1080px) {
  h1.app-title {
    font-size: 45px;
  }

  section.introduction-container {
    padding: 10% 20%;
    font-size: 16px;
  }
  section.title-subtitle-container {
    padding-top: 10rem;
  }
}

@media only screen and (max-width: 800px) {
  h1.app-title {
    font-size: 40px;
  }

  section.introduction-container {
    padding: 10% 2%;
    font-size: 16px;
  }
}
