main.landing-page-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #c3fcf1;
  color: #1e1c0c;
  height: auto;
  width: auto;
  text-align: center;
}

section.title-subtitle-container {
  padding: 2rem;
}

h1.app-title {
  font-size: 50px;
}

h3.app-subtitle {
  line-height: 5px;
  font-weight: lighter;
}

hr.line {
  display: inline-block;
  margin: 15px auto;
  border-top: 3px solid #1e1c0c;
  border-bottom: 3px solid #1e1c0c;
  border-radius: 5px;
  width: 5rem;
}

section.introduction-container {
  padding: 10% 30%;
  font-size: 22px;
}
