section.general-button-container {
  padding: 3rem;
}

button.general-button {
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
  background-color: #1e1c0c;
  color: #fff;
  font-weight: bolder;
}

button.general-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #1e1c0c;
}
