section.add-task-container {
  display: none;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.close-add-window {
  cursor: pointer;
}

.add-task-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3fcf1;
  color: #1e1c0c;
  margin: 20px;
  border-radius: 1rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.favorite-icon {
  background-color: #fff;
  padding: 7px;
  border-radius: 50%;
  margin: 0 5px;
}

section .form-add-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 10px;
}
