section.add-task-container {
  background-color: #fde030;
  padding: 1rem;
  width: 30%;
  border-radius: 2rem;
  margin: auto;
}

section h1.title-add-task-container {
  color: #1e1c0c;
  padding: 1rem;
}

section form.form-add-task {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form.form-add-task input {
  margin: 0.3rem 0;
  border-radius: 0.4rem;
  text-align: center;
  height: 2rem;
  width: 50%;
}
